.movie-details :global{
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  color: #666666;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
  max-height: 100px;
  max-width: 340px;

  .movie-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: #000!important;
  }

  a:hover{
    text-decoration: none!important;
    color: #000000!important;
    opacity: .6;
  }

  .movie-img{
    background-image: url("../../assets/images/movie.jpg");
    width: 100%;
  }
  .movie-img-wrapper{
    max-width: 70px;
    min-width: 70px;
    min-height: 100px;
    img{
      height: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .movie-img-wrapper{
      min-width: 80px;
      img{
        height: 100%;
      }
    }
  }

}

