.movie-details{
    color: #666666;
}

a{
    text-decoration: none;
    color: #000!important;
}

a:hover{
    text-decoration: none!important;
    color: #000000!important;
    opacity: .6;
}

.movie-img{
    background-image: url("../../assets/images/movie.jpg");
    width: 100%;
}
.movie-img-wrapper{

}