.movies-list-wrapper :global{
  border: 3px dashed green;
  input{
    padding: 1px 11px;
    max-height: 32px;
  }

  .movie-row{
    color: #000;
  }

  .movie-row:hover{
    opacity: .6;
  }

  .add-button{
    width: auto;
    padding: 16px 69px;
  }

  @media screen and (max-width: 992px) {
    .add-button {
      width: auto;
      padding: 16px 18px;
    }
  }
}


